.alignnone,
.aligncenter {
    display: block;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    padding: 48px 48px 48px 0px;
}

.alignright {
    padding: 48px 0px 48px 48px;
}
.alignleft, .alignright {
    position: relative;
    z-index: 1;
    max-width: 50%;
}