.alignnone,
.aligncenter {
    display: block;
}

.aligncenter {
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
    clear: left;
    padding: 48px 48px 48px 0px;
}

.alignright {
    float: right;
    clear: right;
    padding: 48px 0px 48px 48px;
}
.alignleft, .alignright {
    position: relative;
    z-index: 1;
    width: 50% !important;
}