.site-footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  text-align: left;
  background-color: $color-accent;
  padding: 0 70px;
  height: 80px;
  color: $color-white;

  @include below(lap){
    padding: 30px;
  }
  .site-info {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 70px;
  }
  a {
    color: $color-white;
  }
}

section.widget {
  flex-basis: 100%;
}

  h2.widget-title {
    color: $color-white;
}