.site-header {
  position: absolute;
  display: flex;
  max-width: 1440px;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: space-between;
  padding: 0 70px;

  .site-branding {
    z-index: 4;
    margin-top: 36px;
    width: 60%;
  }

  .site-title a {
    color: white;
    text-decoration: none;
    text-transform: none;
    line-height: 137px;
    margin-top: 16px;

    @include above(lap){
      font-size: 160px;
    }
  }
}