.main-navigation {
  z-index: 3;
  margin-top: 60px;
  width: 40%;
  @extend %link-style;

  ul.nav--main {
    display: inherit;
    justify-content: flex-end;
    margin-right: 10px;

    > li {
      list-style: none;
      display:inline-block;
      white-space: nowrap;

      > a {
        color: $color-white;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 18px;
        padding: 0 13px;
        letter-spacing: 1px;
        line-height: 27px;
      }
    }
  }
}


.menu-toggle {
  @include above(lap) {
    display: none;
  }
}