#content {
  display: block;
}

.site-main {
  display: block;
}

.main-posts {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;

  @include below(small){
    padding: 0 20px;
  }
}

.sticky {
 img {
   border-top: 3px solid $color-accent;
   border-bottom: 3px solid $color-accent;
 }
}

nav.pagination {
  display: block;
  width: 100%;
  max-width: 1440px;
  margin:0 auto;
  padding: 40px 0 80px 0;
  font-weight: bold;
  font-size: 16px;
  color: $color-accent;

  .nav-links {
    text-align: center;
    @extend %link-style;
    text-transform: none;
    line-height: 40px;
    margin: 0 80px;

    .page-numbers {
      color: $color-accent;
    }

    .page-numbers:not(.next,.prev) {
      letter-spacing: 5px;
    }
    .next {
      font-size: 32px;
      color: #313131;
      float: right;
    }
    .prev {
      @extend %link-style;
      text-transform: none;
      font-size: 32px;
      color: #313131;
      float: left;
    }
    .current {
      color: #313131;
      font-size: 17px;
    }
  }
}

